[user]
	email = evancookie2@gmail.com
	name = Evan Cook
[core]
	editor = vim
[push]
	default = simple
[alias]
  branchdate = for-each-ref --sort=-committerdate refs/heads/ --format="%(authordate:short)%09%(objectname:short)%09%1B[0;33m%(refname:short)%1B[m%09"
